.home {
  position: relative;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background: #28302a;
  background-image: url("/wave.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}